<!DOCTYPE html>
<html>
<head>
    <title>Find Stuff-K.N.I.T. </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Find Stuff Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <link href="css/jquery.uls.css" rel="stylesheet"/>
    <link href="css/jquery.uls.grid.css" rel="stylesheet"/>
    <link href="css/jquery.uls.lcd.css" rel="stylesheet"/>
    <!-- Source -->
    <script src="js/jquery.uls.data.js"></script>
    <script src="js/jquery.uls.data.utils.js"></script>
    <script src="js/jquery.uls.lcd.js"></script>
    <script src="js/jquery.uls.languagefilter.js"></script>
    <script src="js/jquery.uls.regionfilter.js"></script>
    <script src="js/jquery.uls.core.js"></script>
    <script>
        $( document ).ready( function() {
            $( '.uls-trigger' ).uls( {
                onSelect : function( language ) {
                    var languageName = $.uls.data.getAutonym( language );
                    $( '.uls-trigger' ).text( languageName );
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            } );
        } );
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/index"><span>Find</span>Stuff</a>
        </div>
        <form action="/logout" method="post">
        <div class="header-right">
            <button class="btn btn-success btn-lg" >Want To Log Out ? <%=data1%></button>

            <script>
                $('#myModal').modal('');
            </script>
        </div>
        </form>
    </div>
</div>
</div>
<div class="main-banner banner text-center">
    <div class="container">
        <h1>Sell and Buy   <span class="segment-heading">    anything online </span> with Find Stuff</h1>

    </div>
</div>

<br> <br><br><br>
<div  align="center">
    <h2 align="center">Coolers :-</h2>
</div>
<br><br>
<div align="center">
    <% for(var i=0;i<data.length ;i++)
    { %>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Product Name</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].product_name %>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Product Description</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].description %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Price</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].price%>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Seller Name</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].seller_name %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Contact Number</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].contact %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Seller Address</label>
        </div>
        <div class="col-md-8 col-6">
            <%= data[i].Address %>
        </div>
    </div>
    <% }%>
</div>